<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to DRC Hack - Empowering Innovation">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/chatbot.css">
    <title>DRC Hack - Chatbot</title>
</head>
<body>
    <h1>ChatBot (Powered by Gemini AI by Google)</h1>
    <div id="chatbot_area">
        <div id="chatbot_area_chat">
            <div id="chatbot_area_chat_container">
                
            </div>
        </div>
        <form id="chatbot_area_textbox">
            <input type="text" id="message" placeholder="Talk to ChatBot" required minlength="1">

            <input type="submit" value="↑" onclick="showAlert()">
        </form>
    </div>
    <script>
        function showAlert() {
            // Get the entered message
            var message = document.getElementById("message").value;
        
            // Display an alert with the message
            alert(message);
        }
    </script>
</body>
</html>