<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to DRC Hack - Empowering Innovation">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/chatbot.css">
    <title>DRC Hack - Chatbot</title>
</head>
<body>
    <header>
        {%include 'navbar.html' %}
    </header>
    <h1 style="padding-top: 70px;">ChatBot (Powered by Gemini AI by Google)</h1>
    <div id="chatbot_area">
        <div id="chatbot_area_chat">
            <div id="chatbot_area_chat_container">
                <!-- Here, you can display the user input -->
                <p id="userInputPlaceholder"></p>
            </div>
        </div>
        <form id="chatbot_area_textbox">
            <input type="text" id="message" placeholder="Talk to ChatBot" required minlength="1">
            <button type="submit">↑</button>
        </form>
    </div>

    <!-- JavaScript to update userInputPlaceholder -->
    <script>
        // Get the user input passed from Flask
        var userInput = "{{ userInput }}";

        // Update the content of userInputPlaceholder
        document.getElementById("userInputPlaceholder").innerText = userInput;
    </script>
</body>
</html>
