<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to DRC Hack - Empowering Innovation">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/chatbot.css">
    <title>DRC Hack - Chatbot</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <header>
        {%include 'navbar.html' %}
    </header>
    <h1 style="padding-top: 70px;">ChatBot (Powered by Gemini AI by Google)</h1>
    <div id="chatbot_area">
        <div id="chatbot_area_chat">
            <div id="chatbot_area_chat_container">
                <p>User Input: {{ question_response[0] }}</p>
                <p id="renderedContent">Bot Response: {{ question_response[1] }}</p>
            </div>
        </div>
        <form method = "post" form id="chatbot_area_textbox" >
            <input type="text" id="message" placeholder="Talk to ChatBot" required minlength="1" name="message">
            <button type="submit">↑</button>
        </form>
    </div>
    <script>
        var markdownContent = document.getElementById('markdownContent').value;
        document.getElementById('renderedContent').innerHTML = marked(markdownContent);
    </script>

</body>
</html>
