<nav class="navbar navbar-dark bg-dark fixed-top mb-3">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="{{ url_for('mainpage') }}">IEEE</a>
    <!-- Offcanvas toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Offcanvas content -->
    <div
      class="offcanvas offcanvas-end bg-dark"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Offcanvas
        </h5>
        <!-- Close button -->
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body d-flex flex-column">
        <!-- Navbar items and search form -->
        <div class="flex-grow-1">
          <!-- Navbar items -->
          <ul class="navbar-nav justify-content-end pe-3">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('mainpage') }}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('taskschedule') }}"
                >Task Scheduler</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('signup') }}"
                >Signup</a
              >
            </li>
            <!-- Dropdown -->
          </ul>
          <!-- Search form -->
          <form class="d-flex mt-3">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-primary btn-custom" type="submit" style>
              Search
            </button>
          </form>
        </div>
        <!-- Logout button -->
        <div class="mt-auto">
          <button class="btn btn-outline-danger btn-sm" type="submit">
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
